/* Reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
/* Colors  */
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
/* Nav  */
nav {
    height: 100px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
select {
    height: 50px;
    width: 400px;
    font-size: 30px;
    border-radius: 10px;
} 
option {
    border: none;
}
/* Container */
.container {
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* box */
.box {
    margin: 0 10px;
    padding: 10px 0;
    height: calc((100vh - 100px)/4 - 30px);
    width: 330px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
.font-aw {
    font-size: 110px;
}
.name {
    font-size: 30px;
}